*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* colors used in website */
:root{
    --primary-lightcolor: #ddc9b4;
    --primary-darkcolor: #BCAC9B;
    --primary-darkercolor:#7A6C5D;
    --green: #2A3D45;
}

/* hero section styling */
.hero{
    max-width: 100%;
    min-height: 100vh;
}

.hero img{
    position: fixed;
    width: 100%;
    max-height: 100%;
    z-index: -1;
}

/* hero text styling */
.hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: auto;
    font-size: 4em;
    padding: 5%;
    color: black;
    text-align: center;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.3);
}
.hero h1 span{
    font-size: 0.6em;  
}

/* navigation bar styling */
header{
    background-color: var(--green);
    opacity: 0.95;
    position: sticky;
    top: 0;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
    z-index: 9999;
    box-shadow: 0 5px 10px var(--green);
}

/* logo styling */
header .logo{
    font-weight: bolder;
    margin-left: 40px;
    cursor: pointer;
    text-decoration: none;
    background: -webkit-linear-gradient(var(--primary-lightcolor), var(--primary-darkercolor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
}

/* naviagtion bar menu styling */
header nav a{
    color: white;
    margin: 10px auto;
    text-decoration: none;
    font-size: 0.6em;
    padding: 10px 20px;
    border: 2px solid var(--green);
    border-radius: 25px;
}
header nav a:hover{
    color: var(--primary-darkcolor);
    border: 2px solid var(--primary-darkcolor);
    border-radius: 25px;
}

/* hire link styling */
.hire{
    text-decoration: none;
    color: white;
    background: var(--primary-darkercolor);
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5) inset;
    letter-spacing: 0.20em;
}
.hire:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border: 2px solid transparent;
    color: white;
}

/* social media icons styling */
.social-icons{
    position: fixed;
    bottom: 0;
    right: 0;
    list-style: none;
    z-index: 100000;
}
.icons{
    text-align: left;
    display: block;
    margin: 4px 0;
    border-radius: 50% 0 0 50%;
    opacity: 0.7;
    box-shadow: 5px 5px 10px gray;
    transition: 0.5s;
    
}
.icons:hover{
    transform: translateY(-3px);
    opacity: 1;
}
.fa{
    font-size: 1.5em;
    color: white;
    padding: 15px 10px 15px 15px; 
}
/* theme color to each social-icon */
.facebook{
    background: #4267B2;
}
.linkedin{
    background: #2867B2;
}
.instagram{
    background: linear-gradient(135deg, #405DE6 ,#5851DB,#833AB4, #C13584,#E1306C, #F56040, #F77737, #FCAF45, #FFDC80 );
}
.github{
    background: black;
}
.twitter{
    background: #1DA1F2;
}

/* about me section styling */
#about-me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10%;
    background-color: rgba(255,255,255,0.8);
}
.aboutme-text{
    position: relative;
    width: 40%;
    display: block;
    text-align: center;
}

.aboutme-text h2{
    color: var(--primary-darkercolor);
    font-size: 38px;
    font-weight: bold;
}
hr{
    background: var(--green);
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.aboutme-text h3{
    color: var(--primary-darkercolor);
    font-size: 1.5em;
    line-height: 1.5;
    margin: 30px;
    padding: 30px;
}

.aboutme-img{
    height: 400px;
}
.aboutme-img img{
    max-height: 100%;
}