*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}
/* colors used in website */
:root{
    --primary-lightcolor: #ddc9b4;
    --primary-darkcolor: #BCAC9B;
    --primary-darkercolor:#7A6C5D;
    --green: #2A3D45;
    --secondary-background: #FBF9F6;

}

/* hero section styling */
.hero{
    max-width: 100%;
    min-height: 100vh;
}

.hero img{
    position: fixed;
    width: 100%;
    max-height: 100%;
    z-index: -1;
}

/* hero text styling */
.hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: auto;
    font-size: 4em;
    padding: 5%;
    color: black;
    text-align: center;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.2);
    font-family: 'Volkhov', cursive;
}
.hero .colorful{
    
    background: -webkit-linear-gradient( -45deg,#9400D3 ,#4B0082,#0000FF, #00FF00,#FFFF00, #FF7F00, #FF0000, #FF0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero .akworks{
    font-size: 0.6em;  
    letter-spacing: -0.1em;
}

/* navigation bar styling */
header{
    background-color: var(--green);
    opacity: 0.95;
    position: sticky;
    top: 0;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
    z-index: 9999;
    box-shadow: 0 5px 10px var(--green);
}

/* logo styling */
header .logo{
    font-weight: bolder;
    margin-left: 40px;
    cursor: pointer;
    text-decoration: none;
    background: -webkit-linear-gradient(var(--primary-lightcolor), var(--primary-darkercolor));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.3em;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
}

/* naviagtion bar menu styling */
header nav a{
    color: white;
    margin: 10px auto;
    text-decoration: none;
    font-size: 0.6em;
    padding: 10px 20px;
    border: 2px solid var(--green);
    border-radius: 25px;
}
header nav a:hover{
    color: var(--primary-darkcolor);
    border: 2px solid var(--primary-darkcolor);
    border-radius: 25px;
}

/* hire link styling */
.hire{
    text-decoration: none;
    color: white;
    background: var(--primary-darkercolor);
    padding: 10px 20px;
    border-radius: 30px;
    letter-spacing: 0.2em;
    transition: 0.5s;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5) inset;
}
.hire:hover{
    box-shadow: none;
    color: white;
    border: none;
}

/* social media icons styling */
.social-icons{
    position: fixed;
    bottom: 0;
    right: 0;
    list-style: none;
    z-index: 100000;
}
.icons{
    text-align: left;
    display: block;
    margin: 4px 0;
    border-radius: 50% 0 0 50%;
    opacity: 0.7;
    box-shadow: 5px 5px 10px gray;
    transition: 0.5s;
    
}
.icons:hover{
    transform: translateY(-3px);
    opacity: 1;
}
.fa{
    font-size: 1.5em;
    color: white;
    padding: 15px 10px 15px 15px; 
}
/* theme color to each social-icon */
.facebook{
    background: #4267B2;
}
.linkedin{
    background: #2867B2;
}
.instagram{
    background: linear-gradient(135deg, #405DE6 ,#5851DB,#833AB4, #C13584,#E1306C, #F56040, #F77737, #FCAF45, #FFDC80 );
}
.github{
    background: black;
}
.twitter{
    background: #1DA1F2;
}

#about-me{
    width: 100%;
    background-color: white;
}

/* about me section styling */
.aboutme-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10%;
}
.aboutme-text{
    position: relative;
    width: 40%;
    display: block;
    text-align: center;
}

.aboutme-text h2{
    color: var(--primary-darkercolor);
    font-size: 38px;
    font-weight: bold;
}
hr{
    background: var(--green);
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.aboutme-text h3{
    color: var(--primary-darkercolor);
    font-size: 1.5em;
    line-height: 1.5;
    margin: 30px;
    padding: 30px;
}

.aboutme-img{
    height: 400px;
}
.aboutme-img img{
    max-height: 100%;
}

/* footer styling */
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin-top: 0;
    font-size: 0.8em;
    color: var(--primary-lightcolor);
    background: var(--primary-darkercolor);
}
footer h3 a{
    color: var(--primary-lightcolor);
    text-decoration: none;
}


/* contact me section styling */
#contact-me{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
}

.contact-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 100px;
}

/* form elements styling */
.contact-content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    min-height: 300px;
    background: white;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 0 0 5px inset;
    padding-top: 10px;
}
.contact-content form label{
    width: 80%;
    text-align: left;
    font-size: 1.1em;
    color: black;
}
.contact-content form input{
    border: 1px solid var(--green);
    border-radius: 7px;
    width: 85%;
    padding: 10px;
    margin: 10px;
    height: auto;
    outline: none;
}

.contact-content form button{
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    background: var(--green);
    outline: none;
    margin: 10px;
    color: white;
    font-size: 1.3em;
    transition: 0.2s;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.contact-content .phone-email,
.contact-content .phone-email .fa{
    color: var(--green);
}

/* styling of form element when focus or hover */
.contact-content form input:focus{
    border: 3px solid var(--green);
}
.contact-content form button:hover{
    box-shadow:none;
    transform: translateY(-3px);
}
.contact-content .phone-email .fa:hover{
    transform: translateY(-3px);
}

/* title of section with leaf styling */
.title-text{
text-align: center;
padding: 40px 0 0 0;
}
.title-text p{
    margin: auto;
    font-size: 30px;
    color: var(--green);
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(var(--green),white);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
}


/* projects section styling */
#projects{
    width: 100%;
    min-height: 600px;
    background: whitesmoke;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.project-page{
    padding: 90px 50px 0 50px;
    width: 80%;
    min-height: 400px;
    background: white;
    margin: 30px auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.project-page .project-card{
    background: white;
    width: 420px;
    min-height: 250px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 70px;
    transition: 0.5s;
    overflow: hidden;
}

.project-page .project-card img{
    width: 420px;
    min-height: 250px;
    transition: 1s;
    border-radius: 5px;
    transform: translateY(30px);
}
.project-page .project-card img:hover{
    transform: translateY(0);
}

.project-page .project-card a{
    color: blue;
    text-decoration: none;
}


/* testimonials styling */

#testimonials{
    width: 100%;
    padding: 40px 25px;
    background: var(--secondary-background);
    display: block;
}
#testimonials .samples{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

#testimonials .samples div{
    max-width: 30%;
    height: 300px;
    padding: 20px;
    background: white;
    border-radius: 2%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1) inset;
}
#testimonials h2{
    color: var(--green);
    position: relative;
    text-align: center;
    padding: 10px 0;
}
